@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  padding: 5px;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}


.gradient-text {
  background: linear-gradient(to right, #6a5acd, #00bfff); /* Degradado morado a azul */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes matrix-rain {
from {
  transform: translateY(-50%);
}
to {
  transform: translateY(50%);
}
}

.animate-matrix-rain {
animation: matrix-rain 20s linear infinite;
}
